/nbbuild.xml
/build.xml

/build/*
/build/classes/*

/build/classes/certificalert/*

/build/classes/certificalert/application/business/*
/build/classes/certificalert/application/business/util/*
/build/classes/certificalert/application/business/util/datatypes/*
/build/classes/certificalert/application/business/util/procesos/*

/build/classes/certificalert/application/persistence/*
/build/classes/certificalert/application/persistence/daos/*
/build/classes/certificalert/application/persistence/entities/*
/build/classes/certificalert/application/persistence/scripts/*

/build/classes/certificalert/application/presentation/*
/build/classes/certificalert/application/presentation/certificados/*
/build/classes/certificalert/application/presentation/configuracion/parametros/*
/build/classes/certificalert/application/presentation/configuracion/usuarios/*
/build/classes/certificalert/application/presentation/configuracion/empresas/*
/build/classes/certificalert/application/presentation/util/*
/build/classes/certificalert/application/presentation/otros/*

/build/classes/certificalert/configuration/*

/nbproject/*
/nbproject/private/*

/dist/CertificAlert.jar
/dist/README.TXT

/nbdist/
/nbdist/lib/*
/dist/